includes:
    - tools/phpstan/vendor/tomchochola/phpstan-rules/shared/phpstan/full.neon
    - tools/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - tools/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - tools/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - tools/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - tools/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

parameters:
  paths:
    - src
